<nav id="nav2" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <ul id="nav2"class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">View details
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/flights"><figure>Flights</figure></a></li>
            <li><a href="/accom">Accommodation</a></li>
            <li><a href="/car">Land travel</a></li>
            <li><a href="/activities"><figure>Activites</figure></a></li>
            <li><a href="/references">References</a></li>
            <li><a href="/packing">Packing List</a></li>
          </ul>
        </li>
        <li><a href="/share">Share Trip</a></li>
        <li><a href="/print">Print itinerary</a></li>
      </ul>
  </div>
</nav>
