<nav  id="nav1" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid d-flex align-items-center">
        <div class="navbar-header">
            <p class="navbar-brand">
                <span class="align-middle">  <image class="align-middle" src="images/VICGOV_ENVIRONMENT_LOGO_WHITE_65pix.png" alt="" width="240" height="100"></span>

            </p>
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/volunteering">Volunteer</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/FAQ">FAQ</a></li>
          </ul>
        </div>
    </div>
</nav>
