  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coast Care</title>
  <link rel="shortcut icon" href="images/beefavicon.ico"/>
  <link href="stylesheets/style.css" rel="stylesheet">
  <!-- load jquery -->
<script   src="https://code.jquery.com/jquery-3.1.1.js"/></script>
<!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- <script src="carousel-swipe.js"></script> -->
<!-- css to overwrite bootstrap  -->
  <link href="stylesheets/myStyle.css" rel="stylesheet">
  <link href="stylesheets/formStyle.css" rel="stylesheet">
  <link href="stylesheets/jumbCar.css" rel="stylesheet">
  <link href="stylesheets/navStyle.css" rel="stylesheet">
  <link href="stylesheets/tableStyle.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="scripts/myscripts.js"></script>
