html {
  background-color: #E9E9E9;
}
.container {
  /*max-width: 750px;*/
  background-color: #E9E9E9;
width: 90%;
}
.navbar {
  height: 410px;
  background-image:url("/images/OG Kite strip.jpg");
  background-size: cover;
}

.pic {
  padding: 0;
}
/*for contact page*/
.contact {
  background-image:url("/images/OG cmon strip.jpg");
  background-size: cover;
  height: 50%;
  padding-top: 3%;
  font-size: 20px;
}

form {
  padding-left: 5%;
}
.control-label {
  color: White;
}

/*for issues page*/
.issues {
  background-image:url("/images/feet strip.jpg");
  background-size: cover;
  height: 50%;
  padding-top: 3%;
  font-size: 20px;
}
.suggestion {
  color: White;
  background-image:url("/images/krabi strip.jpg");
  background-size: cover;
  height: 50%;
  padding-top: 3%;
  font-size: 20px;
}
.suggest-input {
  margin-right: 25%;
}


/*white color for text*/
.color1 {
    color: white;
  }
  /*linen color for text*/
.color2 {
  color: #E9E9E9;
}
/*linen color for background*/
.color3 {
background-color: #E9E9E9;
}
/*plaster grey color for font*/
.color4 {
  color: #CDCDCD;
}
/*ice blue color for background*/
.color5 {
  background-color: #99D3DF;
}
/*freshwater blue color for background*/
.color6 {
  background-color: #88BBD6;
}
/*freahwater blue color for text */
.color7 {
  color: #88BBD6;
}

.bee {
  max-width: 20px;
  max-height: 20px;
}
