html {
  background-color: #E9E9E9;
}
.container {
  /*max-width: 750px;*/
  background-color: #E9E9E9;
width: 90%;
}
.navbar {
  height: 430px;
  background-image:url("/images/OG Kite strip.jpg");
  background-size: cover;
}
.about {
  background-image:url("/images/??.JPG");
  background-size: cover;
  height:100vh;
  width:100%;
}

/*for contact page*/
.form-background {
  background-image:url("/images/OG cmon strip.jpg");
  background-size: cover;
  height: 50%;
  padding-top: 3%;
  font-size: 20px;
}
form {
  padding-left: 5%;
}
.control-label {
  color: White;
}

.logpage {
  background-image:url("/images/??.JPG");
  background-size: cover;
  height:100vh;
}
.newhol {
  background-image:url("/images/??.JPG");
  background-size: cover;
  height:100vh;
}
.first {
  max-height: 30%;
}


/*.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /*width: 70%;*/
      /*margin: auto;
  }*/

/*white color for text*/
.color1 {
    color: white;
  }
  /*linen color for text*/
.color2 {
  color: #E9E9E9;
}
/*linen color for background*/
.color3 {
background-color: #E9E9E9;
}
/*plaster grey color for font*/
.color4 {
  color: #CDCDCD;
}
/*ice blue color for background*/
.color5 {
  background-color: #99D3DF;
}
/*freshwater blue color for background*/
.color6 {
  background-color: #88BBD6;
}
/*freahwater blue color for text */
.color7 {
  color: #88BBD6;
}

.bee {
  max-width: 20px;
  max-height: 20px;
}
