<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="about">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="color7 color6 jumbotron">
                    <h1>Coast Care</h1>
                    <p>....an initiative of the Victorian Government</p>
                    <br><br>
                    <h2>Preserve... </h2>
                    <h2>Enjoy ... </h2>
                    <br><br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="color2 color4 well">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/mC3mHqz8sco" frameborder="0" allowfullscreen></iframe>">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
