
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="color2 color6 jumbotron first">
          <h1 class="text-center"><span class=""><image src="images/Coastcare_Inline_rev_cmyk.jpg" alt="" width="240" height="100"></span>
          Taking care of our coastline</h1>
        </div>

        <div>
          <br/>
          <div class="jumbotron"> <p>
            Coastcare Victoria proudly supports hundreds of community volunteer groups working to protect and enhance Victoria's 2000 kilometres of coastline.

            Community volunteer groups help to maintain our marine and coastal environment, through activities such as revegetating coastal areas, building boardwalks, fencing, building tracks, monitoring native shorebirds and animals, presenting education and awareness raising sessions, plantings, landscaping coastal areas and protecting cultural sites.

            - See more at: http://www.delwp.vic.gov.au/parks-forests-and-crown-land/coasts,-bays-and-marine-areas/coastcare#sthash.ULyNtKmz.dpuf
        </p></div>
        </div>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>


  <audio class="september">
    <source src="audio/earthwindfire.mp3" type="audio/mpeg">
  </audio>
</body>


</html>
