<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">
        <h1>Projects</h1>
        <div class="row itinDeets">
          <div class="col-sm-4">
            blah
          </div>
          <div class="col-sm-4">
            blah ....
          </div>
          <div class="col-sm-4">
            blah ....
          </div>
        </div>
    </div>

    <div class="container sheet">
      <form action = "/flights" method = "POST" class="">
        <table class="color7 table table-sm table-bordered table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Date</th>
              <th> </th>
              <th> </th>
              <th>  number</th>
              <th> </th>
              <th></th>
              <th>Blah</th>
              <th></th>
            </tr>
          </thead>

        </table>

        <div class="row">
          <div class="col-sm-2">
            <a href="/return" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Add line</a>
          </div>
          <div class="col-sm-2">
            <a href="" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Save</a>
          </div>
          <div class="col-sm-2">
            <a href="" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Edit</a>
          </div>

            <div class="col-sm-2">
              <a href="/return" class="color2 color6 btn btn-lg btn-primary btn-block" type="get">Return</a>
            </div>

        </div>
      </form>
    </div>

  </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
