<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">
        <h1>Initiatives</h1>
        <div class="row itinDeets">
          <div class="col-sm-4">
            <image class="col-sm-12 pic" src="images/rainbow1.jpg" alt="" width="" height="">
            </span><a  href="http://delwp.vic.gov.au/parks-forests-and-crown-land/coasts,-bays-and-marine-areas/coastcare-victoria-community-grants-program"><strong><p><h2>Grants</h2></strong></a><strong>Applications
          are now open for the Coastcare Community Grants program 2017.</strong>

         Community groups and networks are eligible to apply for <a href="http://delwp.vic.gov.au/parks-forests-and-crown-land/coasts,-bays-and-marine-areas/coastcare-victoria-community-grants-program">grants</a>&nbsp;of up to $7,500 to deliver projects that protect the ecological character of Victoria's coastal ecosystems.&nbsp;</p>
          </div>
          <div class="col-sm-4">
            <image class="col-sm-12 pic" src="images/OG D.jpg" alt="" width="" height="">
            <p><strong><a href="http://www.delwp.vic.gov.au/parks-forests-and-crown-land/coasts,-bays-and-marine-areas/summer-by-the-sea"><h2>Summer by the Sea</h2></a>&nbsp;</strong>Learn more about Victoria's remarkable coastal and marine environments by joining in the fun at some of the hundreds of FREE activities along Victoria's coast from 2 – 26 January 2017.</p>
          </div>
          <div class="col-sm-4">
            <image class="col-sm-12 pic" src="images/OG sunset.jpg" alt="" width="" height="">
            <strong><a href="http://www.delwp.vic.gov.au/parks-forests-and-crown-land/coasts,-bays-and-marine-areas/coastcare/coastline-publication"><h2>Coastline</h2></a>&nbsp;</strong>Coastline is Coastcare's main publication for coastal and marine communities throughout Victoria. To subscribe to this publication fill in the Subscription to Coastline form or alternatively check out our latest issue. - See more at: http://www.delwp.vic.gov.au/parks-forests-and-crown-land/coasts,-bays-and-marine-areas/coastcare#sthash.rwRXEj71.dpuf
          </div>
        </div>
    </div>

  </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
