<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">
        <h1>Itinerary</h1>
        <div class="row itinDeets">
          <div class="col-sm-4">
            trip name ....
          </div>
          <div class="col-sm-4">
            days ....
          </div>
          <div class="col-sm-4">
            style ....
          </div>
        </div>
    </div>

    <table class="color7 table table-sm table-bordered table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Date</th>
          <th>Staying</th>
          <th>Doing</th>
          <th>Notes</th>
        </tr>
      </thead>

      <!-- populate the table with the dates of the trip  -->
      <tbody>
        <tr>
          <td>1st June</td>
          <td>Intercontinental, KL</td>
          <td>visit park</td>
          <td>
              <li>booked for 1 night only</li>
              <li>park open till 4pm</li>
            </td>
        </tr>
        <tr>
          <td>2nd June</td>
          <td>Holiday inn, Malacca</td>
          <td>Drive KL to Malacca</td>
          <td>124 kms</td>
        </tr>
        <tr>
          <td>3rd June</td>
          <td>Holiday inn, Malacca</td>
          <td>visit market</td>
          <td>
              <li>check booking for next day</li>
              <li>hotel includes breakfast</li>
            </td>
        </tr>
        </tr>
      </tbody>
    </table>


    <% include ../partials/bottomNav %>

  </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
